:root {
  --primary-clr: rgb(50, 52, 55);
  --secondary-clr: rgb(226, 183, 20);
  --grey-clr: rgb(100, 102, 105);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--primary-clr);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  color: var(--secondary-clr);
}

.search-container {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
}

input {
  text-align: left;
  padding: 16px;
  width: 300px;
  background-color: var(--grey-clr);
}

::placeholder {
  font-weight: 800;
  font-size: 0.9rem;
  color: var(--secondary-clr);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--secondary-clr);
}
